<!-- HTML & JavaScript code by Max Wiederholt (max.wiederholt@gmail.com) -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="Hi, Google! | HTML & JavaScript by Max Wiederholt (max.wiederholt@gmail.com) for Coding Dojo.">
    <!--

    Notes if you need to explain the purpose of this document.

    -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>
    <p id='dojo'>Pictures of cars!</p>
    <div>
      <img id="bmw_m3_1" class="image car" src="../images/bmw_m3_1.jpg" alt="Image of a car.">
    </div>
    <div>
      <img id="bmw_m3_2" class="image car" src="../images/bmw_m3_2.jpg" alt="Image of a car.">
    </div>
    <div>
      <img id="lexus_is250_1" class="image car" src="../images/lexus_is250_1.jpg" alt="Image of a car.">
    </div>
    <div>
      <img id="lexus_is250_2" class="image car" src="../images/lexus_is250_2.jpg" alt="Image of a car.">
    </div>
    <div>
      <img id="landrover_rangerover_1" class="image car" src="../images/landrover_rangerover_1.jpg" alt="Image of a car.">
    </div>
    <div>
      <img id="mercedes_maybach_1" class="image car" src="../images/mercedes_maybach_1.jpg" alt="Image of a car.">
    </div>
    <div>
      <img id="mercedes_maybach_2" class="image car" src="../images/mercedes_maybach_2.jpg" alt="Image of a car.">
    </div>
  </body>
</html>
