<!-- HTML & JavaScript code by Max Wiederholt (max.wiederholt@gmail.com) -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="Hi, Google! | HTML & JavaScript by Max Wiederholt (max.wiederholt@gmail.com) for Coding Dojo.">
    <!--

    Notes if you need to explain the purpose of this document.

    -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>
    <p id='dojo'>Pictures of cats!</p>
    <div>
      <img id="cat1" class="image cat" src="../images/cat1.png" alt="Image of a cat.">
    </div>
    <div>
      <img id="cat2" class="image cat" src="../images/cat2.jpg" alt="Image of a cat.">
    </div>
    <div>
      <img id="cat3" class="image cat" src="../images/cat3.jpg" alt="Image of a cat.">
    </div>
  </body>
</html>
