<!-- HTML & JavaScript code by Max Wiederholt (max.wiederholt@gmail.com) -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="Hi, Google! | HTML & JavaScript by Max Wiederholt (max.wiederholt@gmail.com) for Coding Dojo.">
    <!--

    Notes if you need to explain the purpose of this document.

    -->
  </head>
  <body>
    <form action='/sign_in' method='POST'>
      <label for="favorite_car">What is your favorite car we haven't included yet?<input type="text" name="favorite_car" id="favorite_car"></label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
