<html>
    <head>
       <title>Dojo Survey Index</title>
    </head>
    <body>
      <h3>Submitted Info</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <!-- The form's action attribute will be set equal to the route where the information, contained within the form, will be sent to.  -->
      <!-- Method: There are two values that you will see this attribute being set to: GET and POST.  -->
      <p>Your name: <%= session.name %></p>
      <p>Dojo Location: <%= session.location %></p>
      <p>Favorite Language: <%= session.language %></p>
      <p>Comment: <%= session.comment %></p>
      <form action='/' method='get'>
        <input type="submit" value="Go Back">
      </form>
    </body>
</html>
